[Unit]
Description=Route Tailscale exit-node traffic through Windscribe
After=wowzerbowser-download-vpn.service
Wants=wowzerbowser-download-vpn.service
RequiresMountsFor=/srv/storage/wowzerbowser

[Service]
Type=simple
ExecStartPre=/srv/storage/wowzerbowser/docker/require-storage-mount.sh
ExecStartPre=/usr/bin/test ! -L /srv/storage/wowzerbowser/secrets/windscribe-philadelphia.conf
ExecStartPre=/usr/bin/test -f /srv/storage/wowzerbowser/secrets/windscribe-philadelphia.conf
ExecStartPre=/srv/storage/wowzerbowser/ops/download-vpn/exit-node-apply.sh down
ExecStartPre=/usr/bin/tailscale set --advertise-exit-node=true --netfilter-mode=nodivert
ExecStart=/srv/storage/wowzerbowser/ops/download-vpn/exit-node-supervise.sh
ExecStop=/srv/storage/wowzerbowser/ops/download-vpn/exit-node-apply.sh down
Restart=always
RestartSec=15s
TimeoutStopSec=30s

[Install]
WantedBy=default.target
